.location-form-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

.location-form-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 900px) {
  .location-form-row {
    flex-direction: row;
  }
}

.location-form-field {
  width: 100%;
}

@media (min-width: 900px) {
  .location-form-field {
    width: 50%;
  }
}

.location-form-alert {
  width: 100%;
}
