.location-form-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .location-form-container {
    padding: 16px;
  }
}
